{% extends "gisModule/base.html" %}
{% load static %}

{% block title %}Account{% endblock %}

{% block account_active %}active{% endblock %}

{% block content %}
    <section style="margin-top: 70px">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Settings</h2>
                        <div class="panel-group category-products" id="settings"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#settings" href="#account_alt">
                                            Account
                                            <span class="badge pull-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="account_alt" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="account_general_settings_button" href="">General Settings</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="">Regional Settings</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="manage_friends_button" href="#">Manage Friends</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="manage_groups_button" href="#">Manage Groups</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#settings" href="#cart_alt">
                                            Shopping Carts
                                            <span class="badge pull-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="cart_alt" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="">General Settings</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="manage_lists_button" href="#">Manage Lists</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#settings" href="#route_alt">
                                            Route
                                            <span class="badge pull-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="route_alt" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="route_default_settings_button" href="#">Default Settings</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="">Algorithm Settings</a>
                                            </h4>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="address_book_button" href="#">Address Book</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/category-productsr-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--user_panel-->
                        <h2 id="settings_header" class="title text-center">User Panel</h2>
                        <div id="user_panel">
                            <div id="account_general_settings" class="replay-box" hidden>
                                <!--Account General Settings -->
                                <h2>Change Name</h2>
                                <div class="row">
                                    <form method="post">
                                        <div class="col-sm-5">
                                            <div class="blank-arrow">
                                                <label>First Name</label>
                                            </div>
                                            <input type="text" placeholder="your first name...">
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="blank-arrow">
                                                <label>Last Name</label>
                                            </div>
                                            <input type="text" placeholder="your last name...">
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" href="">Save</a>
                                        </div>
                                    </form>
                                </div>

                                <h2>Change Password</h2>
                                <div class="row">
                                    <form method="post">
                                        <div class="col-sm-3">
                                            <div class="blank-arrow">
                                                <label>Old Password</label>
                                            </div>
                                            <input type="password" placeholder="old password...">
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="blank-arrow">
                                                <label>New Password</label>
                                            </div>
                                            <input type="password" placeholder="new password...">
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="blank-arrow">
                                                <label>New Password Again</label>
                                            </div>
                                            <input type="password" placeholder="new password again...">
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" href="">Save</a>
                                        </div>
                                    </form>
                                </div>

                                <h2>Change E-mail</h2>
                                <div class="row">
                                    <form method="post">
                                        <div class="col-sm-9">
                                            <div class="blank-arrow">
                                                <label>New E-mail</label>
                                            </div>
                                            <input type="email" placeholder="new email...">
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" href="">Save</a>
                                        </div>
                                    </form>
                                </div>
                            </div><!--/Account General Settings -->

                            <div id="account_regional_settings" class="replay-box" hidden>
                                <!--Account Regional Settings -->
                                <h2>Change Shopping Country & City</h2>
                                <div class="row">
                                    <form method="post">
                                        <div class="col-sm-5">
                                            <div class="blank-arrow">
                                                <label>Country</label>
                                            </div>
                                            <select class="selectpicker"></select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="blank-arrow">
                                                <label>City</label>
                                            </div>
                                            <select class="selectpicker"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" href="">Save</a>
                                        </div>
                                    </form>
                                </div>

                                <br>
                                <h2>Change Currency</h2>
                                <div class="row">
                                    <form method="post">
                                        <div class="col-sm-9">
                                            <div class="blank-arrow">
                                                <label>Currenct Type</label>
                                            </div>
                                            <select class="selectpicker"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" href="">Save</a>
                                        </div>
                                    </form>
                                </div>
                            </div><!--/Account Regional Settings -->

                            <div id="account_friend_management" class="replay-box" hidden>
                                <!--Account Friend Management -->
                                <h2>Received Friend Requests</h2>
                                <div id="received_friend_requests"></div>

                                <br>
                                <h2>Pending Friend Requests</h2>
                                <div id="pending_friend_requests"></div>

                                <br>
                                <h1>Friend List <a id="add_friend_button" href="#">+</a></h1>
                                <div id="add_friend_form" class="row" hidden>
                                    <br>
                                    <form method="post">
                                        <div class="col-sm-4">
                                            <div class="blank-arrow">
                                                <label>Username</label>
                                            </div>
                                            <input name="username" type="text" placeholder="username...">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" id="add_as_friend_button" class="btn btn-primary">Add
                                                As
                                                Friend
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div id="friend_list"></div>
                            </div><!--/Account Friend Management -->

                            <div id="account_group_management" class="replay-box" hidden>
                                <!--Account Group Management -->
                                <h1>Group List <a id="add_group_button" href="#">+</a></h1>
                                <div id="add_group_form" class="row" hidden>
                                    <br>
                                    <form method="post">
                                        <div class="col-sm-4">
                                            <div class="blank-arrow">
                                                <label>Group Name</label>
                                            </div>
                                            <input name="group_name" type="text" placeholder="group name...">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" id="create_group_button" class="btn btn-primary">
                                                Create New Group
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <div id="group_list"></div>
                            </div><!--/Account Group Management -->

                            <div id="list_management" class="replay-box" hidden><!--Shopping List Management -->
                                <h1>Shared Shopping Lists <a id="add_list_button" href="#">+</a></h1>
                                <div id="add_list_form" class="row" hidden>
                                    <br>
                                    <form method="post">
                                        <div class="col-sm-4">
                                            <div class="blank-arrow">
                                                <label>Shopping List Name</label>
                                            </div>
                                            <input name="list_name" type="text" placeholder="list name...">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" id="create_list_button" class="btn btn-primary">Create
                                                New Shopping List
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <div id="list_list"></div>
                            </div><!--/Shopping List Management -->

                            <div id="route_defaults_settings" class="replay-box" hidden> <!--Route Default Settings -->
                                <form>
                                    <input name="opt_money" id="opt_money" type="checkbox" checked>
                                    Optimize Money Cost
                                    <input name="opt_dist" id="opt_dist" type="checkbox" checked>
                                    <label>Optimize Distance</label>
                                    <input name="opt_time" id="opt_time" type="checkbox" checked>
                                    <label>Optimize Time Spent</label>
                                    <label>Start Point:</label>
                                    <select name="start_point" id="default_start_point"></select>
                                    <label>End Point:</label>
                                    <select name="end_point" id="default_end_point"></select>
                                    <label>Route Area Tolerance:</label>
                                    <input name="tolerance" id="default_tolerance" placeholder="in kilometers..." type="text">
                                    <a id="save_route_defaults_button" class="btn btn-default update" href="#">Save</a>
                                </form>
                            </div><!--/Route Default Settings -->

                            <div id="address_book" class="replay-box" hidden> <!--Route Default Settings -->
                                <h2>Create New Address Entry</h2>
                                <div id="add_address_form" class="row">
                                    <form id="new_address_form" method="post">
                                        <div class="col-sm-3">
                                            <div class="blank-arrow">
                                                <label>Address Name</label>
                                            </div>
                                            <input name="address_name" type="text" placeholder="address name...">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="blank-arrow">
                                                <label>Address</label>
                                            </div>
                                            <input name="address" type="text" placeholder="address...">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="submit" id="create_address_button" class="btn btn-primary">
                                                Create New Address
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <h2>Saved Addresses</h2>
                                <div id="saved_addresses"></div>
                            </div>
                        </div>
                    </div><!--/user_panel-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block specific_js %}
    <script src="{% static 'account/js/account.js' %}"></script>
{% endblock %}
