{% extends "gisModule/base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block cart_active %}active{% endblock %}

{% block content %}
    <section class="loading" id="loading" hidden>
        <div style="text-align: center;"><img style="max-width:100%; height: auto" src="https://dokuman.turkpatent.gov.tr/DokumanCelebi/img/8pm76v.gif"></div>
        <div style="text-align: center;"><span id="calculating_text">CALCULATING</span></div>
    </section>

    <section style="margin-top: 20px; text-align: center" id="route_selection" hidden>
    <div id="champ_routes"></div>
    <div id="other_routes"></div>
    </section>

    <section style="margin-top: 100px" id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a>Active</a></li>
                    <li id="active_list_name" style="color: orange;" class="active"><span data-list_id="-1"
                                                                                          id="active_list_text"></span><span
                            style="color: orange" class="fa fa-arrow-circle-down"></span></li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Added By</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Changed By</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody id="cart_products">

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <select class="form-control mobileSelect hidden" data-theme="white" data-triggerOn="#active_list_name"
            data-title="Select active shopping list" data-btntext-save="Select" data-btntext-cancel="Cancel"
            id="active_list_selection">
    </select>

    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Change your route calculation settings or continue with route selection.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <form method="post">{% csrf_token %}
                            <ul class="user_option">
                                <li>
                                    <div class="mk-trc" data-color="amber" data-radius="true">
                                        <input name="opt_money" id="opt_money" type="checkbox">
                                        <label for="opt_money"><i data-before-check="&#xf00d;"
                                                                  data-after-check="&#xf00c;"></i>Optimize Money
                                            Cost</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="mk-trc" data-color="amber" data-radius="true">
                                        <input name="opt_dist" id="opt_dist" type="checkbox">
                                        <label for="opt_dist"><i data-before-check="&#xf00d;"
                                                                 data-after-check="&#xf00c;"></i>Optimize
                                            Distance</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="mk-trc" data-color="amber" data-radius="true">
                                        <input name="opt_time" id="opt_time" type="checkbox">
                                        <label for="opt_time"><i data-before-check="&#xf00d;"
                                                                 data-after-check="&#xf00c;"></i>Optimize Time
                                            Spent</label>
                                    </div>
                                </li>
                            </ul>
                            <ul class="user_info">
                                <li class="single_field">
                                    <label>Route Start Point:</label>
                                    <select name="start_point" id="route_start_point"></select>
                                </li>
                                <li class="single_field">
                                    <label>Route End Point:</label>
                                    <select name="end_point" id="route_end_point"></select>
                                </li>
                                <li class="single_field">
                                    <label>Route Area Tolerance:</label>
                                    <input name="tolerance" id="tolerance" placeholder="in kilometers..." type="text">
                                </li>
                            </ul>
                            <a id="save_as_default_button" class="btn btn-default update" href="#">Save As Default</a>
                            <a class="btn btn-default check_out" href="#">Apply</a>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Cart Average Total <span>$59</span></li>
                            <li>Approximate Fuel Cost <span>$2</span></li>
                            <li>Approximate Distance <span>0 km</span></li>
                            <li>Approximate Time Spent <span>0 km</span></li>
                        </ul>
                        <a id="calculate_routes_button" class="btn btn-default check_out" href="#">Calculate Possible Routes</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
{% endblock %}


{% block specific_js %}
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}
