{% extends "gisModule/base.html" %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block content %}
    <section style="margin-top: 70px">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Categories</h2>
                        <div class="panel-group category-products" id="categories"><!--category-productsr-->
                        </div><!--/category-productsr-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Products</h2>
                        <div id="category_products"></div>
                        {#						<ul class="pagination">#}
                        {#							<li class="active"><a href="">1</a></li>#}
                        {#							<li><a href="">2</a></li>#}
                        {#							<li><a href="">3</a></li>#}
                        {#							<li><a href="">&raquo;</a></li>#}
                        {#						</ul>#}
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block specific_js %}
    <script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}

{% block postscript %}
    traverseProductTree(JSON.parse('{{ category_name_list|safe }}'), JSON.parse('{{ category_id_list|safe }}'), 0, 0); // Fill product information on page
{% endblock %}