{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/shopping.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ZMEDGQNetAgChPPCodmUjDHCNpVuFtg"></script>
    <script src="{% static 'admin/js/simpleCart.js' %}"></script>
    <script src="{% static 'admin/js/custom/shopping.js' %}"></script>
    <script src="{% static 'admin/js/custom/shoppingRoute.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Script for Shopping Cart  -->
    <script>
        var user_obj = JSON.parse('{{ user_info|safe }}'); // User Info
        var all_route_data; // Global variable of calculated route information in server-side
        var items_to_buy_from_retailers = []; // This is required for right panel of map modal, stores items to buy from each retailer for each route

        function cartModal(action) {
            var modal = document.getElementById('id_shoppingCartModal');
            modal.style.display = action;
        }

        function mapModal(action) {
            var modal = document.getElementById('id_googleMapsModal');
            dummyMap();
            modal.style.display = action;
        }

        function routeSelectModal(action) {
            var modal = document.getElementById('id_routeSelectModal');
            modal.style.display = action;
        }

        function userPanelModal(action) {
            var modal = document.getElementById('id_userPanelModal');
            modal.style.display = action;
        }

        simpleCart({
            cartColumns: [
                {attr: "name", label: "Name"},
                {attr: "addedby", label: "Added by"},
                {attr: "quantity", label: "Qty"},
                {view: "remove", text: "Remove", label: false},
                {attr: "itemid", view: "hidden"}
            ]
        });

        function changeCart(cartID) {
            $.ajax({
                type: "POST",
                data: {"post_active_cart_change": "post_active_cart_change", "cartID": cartID},
                success: function (data) {
                    simpleCart.rst();
                    traverseShoppingListData(JSON.parse(data.shopping_list_data), 0);
                    document.getElementById("id_shoppingCartName").innerHTML = data.shopping_list_name;
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        function savePreferences() {
            var json_response = JSON.parse(JSON.stringify($("#id_userPrefForm").serialize()));
            var address_ids = {{ address_ids | safe}};
            var start_ind = $('#id_start_point')[0].selectedIndex;
            var end_ind = $('#id_end_point')[0].selectedIndex;

            if (json_response === "") {
                json_response = "start_id=" + address_ids[start_ind]['id'] + "&end_id=" + address_ids[start_ind]['id'] + "&save_preferences=save_preferences";
            }
            else {
                json_response += "&start_id=" + address_ids[start_ind]['id'];
                json_response += "&end_id=" + address_ids[end_ind]['id'];
                json_response += "&save_preferences=save_preferences";
            }
            $.ajax({
                type: "POST",
                url: "/gisModule/shopping/",
                data: json_response,
                success: function (data) {

                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        function checkout() {
            if (simpleCart.quantity() === 0) {
                alert('Your cart is empty!');
                return false;
            }
            else {
                var itemIDs = [];
                var itemNames = [];
                var itemQuantities = [];
                var totalItems = 0;
                simpleCart.each(function (item, x) {
                    itemNames.push(item.get('name'));
                    itemIDs.push(item.get('itemid'));
                    itemQuantities.push(item.get('quantity'));
                    totalItems++;
                });

                $("#checkout_button").hide();
                $("#checkout_loading").show();

                $.ajax({
                    type: "POST",
                    data: {
                        "checkout": "checkout",
                        "item_id": itemIDs,
                        "item_name": itemNames,
                        "item_quantity": itemQuantities,
                        "total_items": totalItems
                    },
                    success: function (data) {
                        $("#checkout_button").show();
                        $("#checkout_loading").hide();
                        cartModal('none');
                        all_route_data = data;
                        fillRouteInformation(data);
                        var modal = document.getElementById('id_routeSelectModal');
                        modal.style.display = 'block';
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        $("#checkout_button").show();
                        $("#checkout_loading").hide();
                        alert(errorThrown);
                    }
                });
                return false;
            }
        }

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        function showGMaps(i) {
            var modal2 = document.getElementById('id_routeSelectModal');
            modal2.style.display = 'none';
            loadMap(all_route_data, i);
            var modal = document.getElementById('id_googleMapsModal');
            modal2.style.display = 'none';
            modal.style.display = 'block';
        }

        function fillRouteInformation(data) {
{#            console.log(data); // Debugging purposes#}
            var champ_routes = $("#id_champ_routes");
            champ_routes.empty();
            var other_routes = $("#id_other_routes");
            other_routes.empty();
            var products_to_buy = data['products_to_buy'];
            var champ_indexes = data['champ_indexes'];
            var money_flag = false;
            var dist_flag = false;
            var counts = data['counts'];
            var time_flag = false;
            var reasonable_flag = false;
            var costs = data['costs'];
            var stopover_names = data['stopover_names'];
            var pros_cons = data['pros_cons'];
            var prices = data['prices'];
            var retailers_to_visit = data['retailers_to_visit'];

            var i = 0;
            var j = 0;
            var k = 0;
            var other_route_count = 0;
            var any_champs;

            var route_title = "";
            var stopover_names_text = "";
            var route_pros_cons_text = "";
            var where_to_buy_text = "";

            for (i; i < stopover_names.length; i++) {
                var temp_product_names = [];
                route_title = "";
                j = 0;
                any_champs = false;
                for (j; j < champ_indexes.length; j++) {
                    if (i === champ_indexes[j] && j === 0 && money_flag === false) {
                        money_flag = true;
                        any_champs = true;
                        route_title += "Money "
                    }
                    if (i === champ_indexes[j] && j === 1 && dist_flag === false) {
                        dist_flag = true;
                        any_champs = true;
                        route_title += "Distance "
                    }
                    if (i === champ_indexes[j] && j === 2 && time_flag === false) {
                        time_flag = true;
                        any_champs = true;
                        route_title += "Time "
                    }
                    if (i === champ_indexes[j] && j === 3 && reasonable_flag === false) {
                        reasonable_flag = true;
                        if (any_champs) {
                            route_title = "Best "
                        } else {
                            any_champs = true;
                            route_title += "Best "
                        }
                    }
                }

                // Initialize Route Retailer Names
                k = 2;
                stopover_names_text = "Retailers To Visit: " + stopover_names[i][1];
                for (k; k < stopover_names[i].length - 1; k++) {
                    stopover_names_text += ", " + stopover_names[i][k]
                }

                // Initialize Route Pros & Cons
                route_pros_cons_text = "Money Cost For This Route: " + costs[i][0].toFixed(2) + " TL <br>";
                if (pros_cons[i][0] !== 0) {
                    route_pros_cons_text += "Additional Money Cost If You Choose This Route: " + pros_cons[i][0].toFixed(2) + " TL <br>";
                }

                route_pros_cons_text += "Distance Cost For This Route: " + costs[i][1].toFixed(2) + " kilometers <br>";
                if (pros_cons[i][1] !== 0) {
                    route_pros_cons_text += "Additional Distance Cost If You Choose This Route: " + pros_cons[i][1].toFixed(2) + " kilometers <br>";
                }

                var actual_time_value = costs[i][2] * 60;
                var actual_hours = actual_time_value / 60;
                var actual_minutes = actual_time_value % 60;
                if (actual_hours >= 1) {
                    route_pros_cons_text += "Time Cost If You Choose This Route: " + Math.floor(actual_hours) + " hours, " + Math.floor(actual_minutes) + " minutes" + "<br>";

                } else {
                    route_pros_cons_text += "Time Cost If You Choose This Route: " + Math.floor(actual_minutes) + " minutes" + "<br>";
                }
                if (pros_cons[i][2] !== 0) {
                    var time_value = pros_cons[i][2] * 60;
                    var hours = time_value / 60;
                    var minutes = time_value % 60;
                    if (hours >= 1) {
                        route_pros_cons_text += "Additional Time Cost If You Choose This Route: " + Math.floor(hours) + " hours, " + Math.floor(minutes) + " minutes" + "<br>";

                    } else {
                        route_pros_cons_text += "Additional Time Cost If You Choose This Route: " + Math.floor(minutes) + " minutes" + "<br>";
                    }
                }


                // Initialize Buy Which Product From Where
                where_to_buy_text = '<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 503px"> <colgroup> <col style="width: 206px"> <col style="width: 150px"> <col style="width: 147px"> <col style="width: 147px"> <col style="width: 147px"> </colgroup> <tr> <th class="tg-s6z2">Retailer Name/ Product Info<br></th> <th class="tg-s6z2">Product Name<br></th> <th class="tg-s6z2">Unit Price</th> <th class="tg-s6z2">Count</th> <th class="tg-s6z2">Total Price</th> </tr>';
                k = 0;
                var unique_retailers = retailers_to_visit[i].filter(onlyUnique);
                var retailer_products = [];
                var l = 0;
                for (k; k < unique_retailers.length; k++) {
                    retailer_products = [];
                    retailer_product_prices = [];
                    l = 0;
                    for (l; l < retailers_to_visit[i].length; l++) {
                        if (retailers_to_visit[i][l] === unique_retailers[k]) {
                            retailer_products.push(products_to_buy[i][l]);
                            retailer_product_prices.push(prices[i][l]);
                        }
                    }

                    temp_product_names.push(retailer_products); // This is required for right panel of map modal

                    where_to_buy_text += '<tr><td class="tg-s6z2" rowspan="' + retailer_products.length + '">' + unique_retailers[k] + '<br></td>';
                    where_to_buy_text += '<td class="tg-s6z2">' + retailer_products[0] + '<br></td> <td class="tg-s6z2">' + retailer_product_prices[0] + 'TL' + '</td> <td class="tg-s6z2">' + counts[i][0] + '</td> <td class="tg-s6z2">' + counts[i][0] * retailer_product_prices[0] + 'TL' + '</td> </tr>';

                    l = 1;
                    for (l; l < retailer_products.length; l++) {
                        where_to_buy_text += '<tr> <td class="tg-s6z2">' + retailer_products[l] + '</td> <td class="tg-s6z2">' + retailer_product_prices[l] + 'TL' + '</td> <td class="tg-s6z2">' + counts[i][l] + '</td> <td class="tg-s6z2">' + counts[i][l] * retailer_product_prices[l] + 'TL' + '</td> </tr>'
                    }
                }

                items_to_buy_from_retailers.push(temp_product_names);
                where_to_buy_text += '</table></div>';

                if (any_champs) {
                    route_title += "Optimized Route";
                    champ_routes.append('<div class="panel panel-default"> <div class="panel-heading"> <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i + '">' + route_title + '</a> <button style="float: right" onclick="showGMaps(' + i + ');">Select This Route</button> </h4> </div> <div id="collapse' + i + '" class="panel-collapse collapse"> <div class="panel-body">' + stopover_names_text + "<br>" + route_pros_cons_text + '<br>' + where_to_buy_text + '</div> </div> </div>');
                } else {
                    other_routes.append('<div class="panel panel-default"> <div class="panel-heading"> <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i + '">' + "Other Route: " + ++other_route_count + '</a> <button style="float: right" onclick="showGMaps(' + i + ');">Select This Route</button> </h4> </div> <div id="collapse' + i + '" class="panel-collapse collapse"> <div class="panel-body">' + stopover_names_text + "<br>" + route_pros_cons_text + '<br>' + where_to_buy_text + '</div> </div> </div>');
                }
            }
        }
    </script>

    <!-- Event Overrides  -->
    <script>
        window.onload = function (e) {
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                var modal = document.getElementById('id_shoppingCartModal');
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            };

            $(document).on('click', '.btn-click', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
                }
            })
        };

        simpleCart.bind('beforeRemove', function (item) {
            $.ajax({
                type: "POST",
                data: {"post_item_remove": "post_item_remove", "item_id": item.get('itemid')},
                success: function (data) {
                    simpleCart.update();
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        simpleCart.bind("beforeAdd", function (item) {
            if (simpleCart.has(item)) {
                existingItem = simpleCart.has(item);
                $.ajax({
                    type: "POST",
                    data: {
                        "post_item_update": "post_item_update",
                        "id": existingItem.get('itemid'),
                        "quantity": existingItem.get('quantity') + 1,
                        "updated_by": item.get('addedby')
                    },
                    success: function (data) {
                        simpleCart.update();
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    data: {
                        "post_item_add": "post_item_add",
                        "id": item.get('itemid'),
                        "quantity": item.get('quantity')
                    },
                    success: function (data) {
                        item.set("itemid", data.new_id);
                        simpleCart.update();
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });
    </script>

    <!-- Script for Search Bar  -->
    <script>
        function filterItems() {
            var filter, productList, i;
            filter = document.getElementById('id_filterBox').value.toUpperCase();
            productList = document.getElementById('id_productTree').getElementsByClassName("c_itemRow");
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < productList.length; i++) {
                if (productList[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    productList[i].style.display = "";
                } else {
                    productList[i].style.display = "none";
                }
            }
        }
    </script>
    <title>Project Name</title>
</head>

<body id="body" style="overflow-y:scroll;">

<!-- Navbar -->
<div id="id_header">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project Name</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
{#                <li><a href="javascript:mapModal('block');">MAP</a></li>#}
{#                <li><a href="#">Link</a></li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#">Action</a></li>#}
{#                        <li><a href="#">Another action</a></li>#}
{#                        <li><a href="#">Something else here</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="#">Separated link</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="#">One more separated link</a></li>#}
{#                    </ul>#}
                </li>
            </ul>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input style="width: 590px;" onkeyup="filterItems()" type="text" id="id_filterBox"
                               class="form-control"
                               placeholder="Search for products..." name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:cartModal('block');">Shopping Cart</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Menu <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:userPanelModal('block');">User Panel</a></li>
                        <li><a href="#">Options</a></li>
                        <li><a href="#">Help</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Product Tree -->
<div id="id_productTree"></div>

<!-- Shopping Cart Modal -->
<div id="id_shoppingCartModal" class="c_modal">
    <div id="id_shoppingCartModal_content" class="c_modal-content">
        <span id="id_shoppingCartClose" onclick="cartModal('none')">&times;</span>
        <div style="text-align: center;">
            <div class="dropdown">
                <button class="dropbtn">Select Shopping Cart</button>
                <div id="id_shoppingCartName"></div>
                <div id="id_shoppingCartList" class="dropdown-content"></div>
            </div>
        </div>
        <div class="simpleCart_items"></div>
        <div id="checkout_div"><img id="checkout_loading" src="https://secure.phonzie.eu/website/Images/loading.gif" style="width:20px;height:20px; display: none"><button id="checkout_button" type="submit" onclick="checkout()">Calculate Routes</button></div>
    </div>
</div>

<div id="id_googleMapsModal" class="c_modal">
    <div id="id_googleMapsModal_content" class="c_modal-content">
        <span id="id_mapClose" onclick="mapModal('none')">&times;</span>
        <div id="gMaps"></div>
        <div id="right-panel"></div>
        <div id="shopping-list"></div>
    </div>
</div>

<div id="id_routeSelectModal" class="c_modal">
    <div id="id_routeSelectModal_content" class="c_modal-content">
        <span id="id_mapClose" onclick="routeSelectModal('none')">&times;</span>
        <div class="container">
            <div class="panel-group" id="accordion">
                <div id="id_champ_routes"></div>
                <input id="toggle" type="checkbox" checked>
                <label for="toggle">Show more routes</label>
                <div id="expand">
                    <section>
                        <div id="id_other_routes"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="id_userPanelModal" class="c_modal">
    <div id="id_userPanelModal_content" class="c_modal-content">
        <span id="id_userPanelClose" onclick="userPanelModal('none')">&times;</span>
        Route Preferences
        <form id="id_userPrefForm">
            <br><br>
            Time Cost <input id="id_time_factor" name="time_factor" style="float: right" type="checkbox" checked>
            <br>
            Money Cost <input id="id_money_factor" name="money_factor" style="float: right" type="checkbox" checked>
            <br>
            Distance <input id="id_dist_factor" name="dist_factor" style="float: right" type="checkbox" checked>
            <br><br>
            Route Start Point <select name="start_point" style="float: right" id="id_start_point"></select>
            <br><br>
            Route End Point <select name="end_point" style="float: right" id="id_end_point"></select>
            <br><br>
            Route Radius <input style="float: right;" id="id_search_radius" name="search_radius" placeholder="Search Radius(km)..." type="number">
            <br><br>
        </form>
        <center>
            <button onclick="savePreferences(); return false;">Save Preferences</button>
        </center>
    </div>
</div>

<!-- Post Script  -->
<script>
    fetchUserPreferences('{{ dist_cost }}', '{{ money_cost }}', '{{ time_cost }}', {{ search_radius }}, {{ address_names | safe }}, {{ address_coords | safe }}, '{{ start_point_name | safe }}', '{{ end_point_name | safe }}'); // Fill user preferences on user panel modal
    traverseProductTree(JSON.parse('{{ productTree_data|safe }}'), 0, 0, 0); // Fill product information on page
    traverseShoppingLists(JSON.parse('{{ shopping_lists_info|safe }}')); // Fill shopping list information on shopping list modal
    document.getElementById("id_shoppingCartName").innerHTML = '{{ active_shopping_cart }}'; // Get active cart information
    simpleCart.rst(); // Reset cart data to fill it again with items in user's shopping list
    traverseShoppingListData(JSON.parse('{{ shopping_list_data|safe }}'), 0); // Fill cart with user's items
</script>
</body>
</html>